html {
    font-family: "Avenir Next", "Helvetica, sans-serif";
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}

.remove {
    padding-bottom: 5px;
}

footer {
    background-color: #333;
    color: white;
    border: mediumblue solid 1px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}